[submodule "libs/android-mapviewballons"]
	path = libs/android-mapviewballons
	url = git://github.com/jgilfelt/android-mapviewballoons.git
[submodule "libs/ABS"]
	path = libs/ABS
	url = git://github.com/JakeWharton/ActionBarSherlock.git
