<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dinosaurwithakatana.jobhackcareerbuilder"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock"
        >
        
        <uses-library android:name="com.google.android.maps" />
        
        <activity android:name=".MainActivity"/>
        
        <activity android:name=".LoginActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <service 
            android:enabled="True"
            android:name=".LocationService"
            />
        <activity android:name=".CreateAccountActivity"/>
    </application>

</manifest>
